@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --color1: #C1D4D9;
    --color2: #BFBB84;
    --color3: #8C8A80;
    --color4: #4A5958;
    --color5: #1E2327;

    --fontTitle: Arial, Verdana, sans-serif;
    --fontMenu: monospace;
    --fontText: sans-serif;
}

body{
    height: 100vh;

    background-color: white;
}

/* "global" classes */

div.outside_div_top{
    height: 25px;
    width: 400px;
    
    margin: 50px auto 0px;
    
    border-radius: 30px 30px 0px 0px;
    background-color: var(--color5);
}

/* register / login */
div#register{
    width: 300px;
    height: 320px;
}

div#login{
    width: 300px;
    height: 230px;
}

div.register_login_background{
    width: 100vw;
    height: 100vh;

    background-image: linear-gradient(to bottom, var(--color3) 10%, var(--color1) 100%);
}

div.register_login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding-top: 20px;

    border: 1px solid var(--color5);
    background-image: linear-gradient(to bottom, var(--color5) 70%, var(--color4) 100%);
}

div.register_login form div{
    margin: 10px 0px 0px 0px;
    text-align: center;
}

div.register_login form div input{
    height: 40px;
    padding: 1px 10px;

    font:normal 1.2em var(--fontMenu);
    background-color: var(--color2);
}

div.register_login form button{
    position: relative;
    left: 50%;
    transform: translate(-50%);

    margin: 20px 0px 10px 0px;

    width: 100px;
    height: 40px;

    cursor: pointer;

    background-color: var(--color2);
}

div.register_login p{
    text-align: center;

    text-shadow: 1px 1px rgba(0, 0, 0, 0.363);
    color: var(--color1);
}

div.register_login p a{
    text-align: center;
    
    text-decoration: none;

    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.479);
    color: var(--color2);
}

div.register_login p a:hover{

    font:bolder;

    color: var(--color1);
}

/* menu */
menu#side_menu{
    position: fixed;
    top: 0;
    left: 0;

    width: 60px;
    height: 100%;

    transition: .2s;
    box-shadow: 3px 0px 0px var(--color2);
    background-color: var(--color5);
}

div#span_side_menu{
    width: 100%;

    padding: 10px 0px 0px 10px;
}

div#span_side_menu > i{
    
    font-size: 2.3em;
    color: var(--color2);

    cursor: pointer;
}

ul#side_menu_ul{
    height: 100%;

    list-style-type: none;
}

ul#side_menu_ul > li{
    padding-left: 10px;

    transition: background-color 0.5s ease;
}

ul#side_menu_ul > li:hover{
    background-color: var(--color4);
}

ul#side_menu_ul > li >a{
    display: flex;

    padding: 20px 3px;

    font: normal 2em var(--fontMenu);

    text-decoration: none;
    color: var(--color2);
}

header{
    margin: 0px auto -10px;
    text-align: center;
    padding-top: 10px;
    
    text-shadow: 3px 3px rgba(0, 0, 0, 0.37);

    font: bold 2em var(--fontTitle);
    color: var(--color1);
    background-color: var(--color5);
}

/* table */

div.div_table{
    overflow-x: auto;
}

table,td,th{
    border-collapse: collapse;

    padding: 3px 10px;
}

table{
    table-layout: fixed;

    max-width: 1000px;
    margin: 50px auto;
    position: relative;
    
    border: 1px solid var(--color5);
}

thead > tr > th{
    position: sticky;

    text-shadow: 1px 1px black;

    color: var(--color2);
    border: 1px solid var(--color1);
    background-color: var(--color5);
}

td{
    border: 1px solid var(--color5);
}

td.td_description{
    word-wrap:break-word;
    max-width: 300px;
}

td.table_datetime_start{
    word-wrap:break-word;
    max-width: 500px;
    text-align: center;
}

td.table_datetime_ending{
    word-wrap:break-word;
    max-width: 500px;
    text-align: center;
}

td.remaining_time_td{
    text-align: center;
}

/* Add task page */
section#add_task_section{
    width: 400px;
    height: 305px;
    margin: auto;
    padding: 10px;

    border: 3px solid var(--color5);

    text-shadow: 1px 1px rgba(0, 0, 0, 0.486);

    background-color: var(--color4);
}

div.div_item_add_task{
    width: 100%;

    margin: 10px 0px;

    font:normal 1.1em var(--fontText);
    color: var(--color2);
}

div.div_item_add_task > div{
    
    text-align: center;
}

div.div_item_add_task select{
    background-color: var(--color2);
}

div.div_item_add_task input{
    background-color: var(--color2);
}

div.div_item_add_task input::placeholder{
    color: var(--color5);
}

div#add_task_tarefa input{
    width: calc(100% - 60px);
}

div#description textarea{
    width: 100%;
    height: 90px;
    
    padding: 5px;

    background-color: var(--color2);
}

div#description textarea::placeholder{
    color: var(--color5);
}

button#button_add_task{
    display: block;
    margin: -10px 0px 0px 300px;
    text-align: center;
    padding: 5px 5px;

    cursor: pointer;

    font:bold 1em var(--fontMenu);
    color: var(--color5);

    box-shadow: 1px 1px rgba(0, 0, 0, 0.26);
    background-color: var(--color2);
}

button#button_add_task:hover{
    color: var(--color4);
    background-color: var(--color1);
}

/* add_friends */

section#add_friends_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 400px;
    height: 500px;
    margin: auto;

    position: relative;
}

section#add_friends_section h1{

    text-align: center;

    text-shadow: 1px 1px rgba(0, 0, 0, 0.411);

    font:normal 1.5em var(--fontMenu);
    color: var(--color2);
    background-color: var(--color4);
}

div#show_requests{
    position: absolute;

    top: 0;
    left: 0;

    border: 1px solid var(--color5);

    box-shadow: 1px 1px rgba(0, 0, 0, 0.479);

    background-color: var(--color2);
}

div#show_requests h1{
    width: 268px;
}

div#show_requests > ul{
    flex-grow: 1;
    list-style-type: none;
}

div#show_requests > ul li{
    flex-grow: 1;
    min-width: 268px;

    border-top: 1px solid var(--color5);
}

div#show_requests > ul li h2,h3{

    font:normal 1em var(--fontText);
}

div#show_requests > ul li a#add_friend_accept_link{
    color: var(--color5);
    background-color: greenyellow;
}
div#show_requests > ul li a#add_friend_reject_link{
    color: var(--color5);
    background-color: rgba(255, 0, 0, 0.616);
}

div#show_requests a:visited{
    color: var(--color5);
}

/* enviar pedido */
div#request_friend{
    position:absolute;

    top: 0;
    right: 0;

    min-width: 130px;
    height: 98px;

    border-left: 0.5px solid var(--color4);
    border-bottom: 1px solid var(--color5);
    border-right: 1px solid var(--color5);

    background-color: var(--color2);
}

div#request_friend h1{
    border-top: 1px solid var(--color5);
    border-bottom: 1px solid var(--color5);
}

div#request_friend form div input{
    width: 128px;

    margin: 10px 0px 0px 0px;

    text-align: center;

    -moz-appearance: textfield;
    appearance: textfield;
}

div#request_friend form div input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

div#request_friend form button{
    position: relative;

    top: 5px;
    left: 50%;

    transform: translate(-50%);

    padding: 1px;

    cursor: pointer;

    box-shadow: .5px .5px rgba(0, 0, 0, 0.267);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.39);

    color: var(--color2);
    background-color: var(--color4);
}

div#request_friend form button:hover{

    color: var(--color1);
    background-color: var(--color3);
}

div#request_friend p{
    margin: 6px 0px 0px 0px;
    text-align: center;
}

/* friends */

section#friends_section{
    width: 400px;
    
    margin: auto;

    background-color: var(--color2);
}

section#friends_section ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

    border: 1px solid var(--color5);
}

span#show_friends_span{
    margin-left: 10px;
}

span#show_friends_span h2{

    font: bolder 1.5em var(--fontText);
}

span#show_friends_span h3{

    font: bold 1em var(--fontText)
}

span#show_friends_span h4{

    font: normal 0.8em var(--fontText)
}

span#see_friend_task_span a{
    margin-right: 10px;
    text-align: center;
    font-size: 3em;

    color: var(--color4);
}

span#see_friend_task_span a:visited{
    color: var(--color4);
}

span#see_friend_task_span a:hover{
    color: var(--color3);
}