@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --color1: #C1D4D9;
    --color2: #BFBB84;
    --color3: #8C8A80;
    --color4: #4A5958;
    --color5: #1E2327;

    --fontTitle: Arial, Verdana, sans-serif;
    --fontMenu: monospace;
    --fontText: sans-serif;
}

body{
    height: 100vh;

    background-color: white;
}

/* register / login */

div#register{
    width: 300px;
    height: 320px;
}

div#login{
    width: 300px;
    height: 230px;
}

div.register_login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding-top: 20px;

    border: 1px solid var(--color5);
    background-image: linear-gradient(to bottom, var(--color5) 70%, var(--color4) 100%);
}

div.register_login form div{
    margin: 10px 0px 0px 0px;
    text-align: center;
}

div.register_login form div input{
    height: 40px;
    padding: 1px 10px;

    font:normal 1.2em var(--fontMenu);
    background-color: var(--color2);
}

div.register_login form button{
    position: relative;
    left: 50%;
    transform: translate(-50%);

    margin: 20px 0px 10px 0px;

    width: 100px;
    height: 40px;

    background-color: var(--color2);
}

div.register_login p{
    text-align: center;

    text-shadow: 1px 1px rgba(0, 0, 0, 0.363);
    color: var(--color1);
}

div.register_login p a{
    text-align: center;
    
    text-decoration: none;

    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.479);
    color: var(--color2);
}

div.register_login p a:hover{

    font:bolder;

    color: var(--color1);
}

/* menu */
menu#side_menu{
    position: fixed;
    top: 0;
    left: 0;

    width: 60px;
    height: 100%;

    transition: .2s;
    box-shadow: 3px 0px 0px var(--color2);
    background-color: var(--color5);
}

div#span_side_menu{
    width: 100%;

    padding: 10px 0px 0px 10px;
}

div#span_side_menu > i{
    
    font-size: 2.3em;
    color: var(--color2);

    cursor: pointer;
}

menu#side_menu > ul{
    height: 100%;

    list-style-type: none;
}

menu#side_menu > ul > li{
    padding-left: 10px;

    transition: .2s;
}

menu#side_menu >ul > li:hover{

    background-color: var(--color4);
}

menu#side_menu > ul > li >a{
    display: flex;

    padding: 20px 3px;

    font: normal 2em var(--fontMenu);

    text-decoration: none;
    color: var(--color2);
}

header{
    margin: 0px auto -10px;
    text-align: center;
    padding-top: 10px;
    
    text-shadow: 3px 3px rgba(0, 0, 0, 0.37);

    font: bold 2em var(--fontTitle);
    color: var(--color1);
    background-color: var(--color5);
}

/* table */
div#div_table{
    overflow-x: auto;
}

table,td,th{
    border-collapse: collapse;

    padding: 3px 10px;
}

table{
    table-layout: fixed;

    max-width: 1000px;
    margin: 30px auto;
    position: relative;
    
    border: 1px solid var(--color5);
}

thead > tr > th{
    position: sticky;

    text-shadow: 1px 1px black;

    color: var(--color2);
    border: 1px solid var(--color1);
    background-color: var(--color5);
}

td{
    min-width: 100px;
    border: 1px solid var(--color5);
}

td.table_datetime{
    word-wrap:break-word;
    max-width: 500px;
}

td.table_datetime{
    text-align: center;
}

/* Add task page */
section#add_task_section{
    width: 400px;
    height: 305px;
    margin: 50px auto;
    padding: 10px;

    text-shadow: 1px 1px rgba(0, 0, 0, 0.486);

    background-color: var(--color4);
}

div.div_item_add_task{
    width: 100%;

    margin: 10px 0px;

    font:normal 1.1em var(--fontText);
    color: var(--color2);
}

div.div_item_add_task > div{
    
    text-align: center;
}

div.div_item_add_task select{
    background-color: var(--color2);
}

div.div_item_add_task input{
    background-color: var(--color2);
}

div.div_item_add_task input::placeholder{
    color: var(--color5);
}

div#add_task_tarefa input{
    width: calc(100% - 60px);
}

div#description textarea{
    width: 100%;
    height: 90px;
    
    padding: 5px;

    background-color: var(--color2);
}

div#description textarea::placeholder{
    color: var(--color5);
}

button#button_add_task{
    display: block;
    margin: -10px 0px 0px 300px;
    text-align: center;
    padding: 5px 5px;

    cursor: pointer;

    font:bold 1em var(--fontMenu);
    color: var(--color5);

    box-shadow: 1px 1px rgba(0, 0, 0, 0.26);
    background-color: var(--color2);
}
button#button_add_task:hover{
    color: var(--color4);
    background-color: var(--color1);
}