{% extends "layout.html" %}
{% block head %}
{{ super() }}

 <title>Adicionar Tarefa</title> 
{% endblock %}

{% block header %}
    <h1>Adicionar Tarefa</h1>
{% endblock %}

{% block main %}

<section id="add_task_section">
    <form action="/add_task" method="post">

        <div class="div_item_add_task">
            <span>Prioridade:</span>
            <select required name="priority" id="priority">

                {% for priority in priorities %}
                    <option value="{{ priority }}"> {{ priority }}</option>
                {% endfor %}

            </select>
        </div>

        <div id="add_task_tarefa" class="div_item_add_task">
            <span>Tarefa:</span>
            <input required autocomplete="off" placeholder="Máximo 42 letras incluindo espaços" min="1" max="42" type="text" name="task" id="task">
        </div>

        <div class="div_item_add_task">
            <div>Descrição:</div>
            <div id="description">    
                <textarea  placeholder="Breve descrição da tarefa (maximo 245 letras contando os espaços)" name="description" id="description" cols="30" rows="10" maxlength="245"></textarea>
            </div>
        </div>
        
        <div class="div_item_add_task">
            <span>Começo: </span>
            <input type="datetime-local" name="start" id="start">
        </div>
        <div class="div_item_add_task">
            <span>Término: </span>
            <input type="datetime-local" name="ending" id="ending">
        </div>

        <button id="button_add_task" type="submit">Adicionar</button>
    </form>
</section>

{% endblock %}