{% extends "layout.html" %}

{% block head %}
{{ super() }}
    <title>Mudar a senha</title>
{% endblock %}
{% block header %}{% endblock %}

{% block main %}
{{ super() }}

<div class="user_form_background">
    <div class="user_form">
        <form action="/change_password" method="post">
            <div>
                <input type="password" autofocus autocomplete="off" required min="10" max="20" placeholder="Senha antiga" name="old_password" id="old_password">
            </div>
            <div>
                <input type="password" autocomplete="off" required min="10" max="20" placeholder="nova senha" name="new_password" id="new_password">
            </div>
            <div>
                <input type="password" autocomplete="off" required min="10" max="20" placeholder="confirmar nova senha" name="confirm_new_password" id="confirm_new_password">
            </div>
            <button type="submit">Trocar</button>
        </form>
    </div>
</div>

{% endblock %}

{% block menu %}{% endblock %}