{% extends "layout.html" %}

{% block head %}
{{ super() }}

    <title>Configs</title>

{% endblock %}

{% block header %}
<h1>Configs</h1>
{{ super() }}



{% endblock %}

{% block main %}
{{ super() }}

<div class="outside_div_top"></div>
<section id="config_section">
    <h1>Informações do usuário</h1>
    <h2><strong>Nome:</strong> {{ user['username'] }}</h2>
    <h2><strong>Usuário:</strong> {{ user['user'] }}</h2>
    <h1>Ações</h1>
    <h2><a class="change_account_info_settings" href="{{ url_for('account.change_username') }}">Trocar nome</a></h2>
    <h2><a class="change_account_info_settings" href="{{ url_for('account.change_password') }}">Trocar senha</a></h2>
    <h2><a id="logout" href="{{ url_for('account.logout') }}">Deslogar</a></h2>
</section>

{% endblock %}