{% extends "layout.html" %}

{% block head %}
{{ super() }}
    <script src="../dom.js"></script> 
    <title>Principal</title>
{% endblock %}

<!--header-->
{% block header %}
{{ super() }}

    <h1>TAREFAS</h1>

{% endblock %}

<!--main-->
{% block main %}
{{ super() }}

<div id="div_table">
    <table>
        <thead>
            <tr>
                <th>Prioridade</th>
                <th>Tarefa</th>
                <th>Descrição</th>
                <th>Tempo restante</th>
                <th>Começo</th>
                <th>Término</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task['priority'] }}</td>
                    <td>{{ task['task'] }}</td>
                    <td id="description">{{ task['description'] }}</td>
                    <td>0</td>
                    <td class="table_datetime">{{ task['start'] }}</td>
                    <td class="table_datetime">{{ task['ending'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

<!--menu-->
{% block menu %} 
{{ super() }}

{% endblock %}

{% block script %}
{{ super() }}

{% endblock %}