<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="../static/images/favicon/favicon.ico" type="image/x-icon">
    {% endblock %}
    <title>Layout</title>
</head>
<body>

    {% if not hide_header %}
    <header id="main-header">
        {% block header %}
            
        {% endblock %}
    </header>
    {% endif %}

    <main>
        {% block main %}{% endblock %}
    </main>
    {% block menu %}
    <menu id="side_menu">
            <div onclick="hide_span()" id="span_side_menu">
                <i class="bi bi-list"></i>
            </div>
            <ul id="side_menu_ul">
                <li>
                    <a href="{{ url_for('index') }}">
                        <i class="bi bi-house"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('tasks.add_task') }}">
                        <i class="bi bi-plus-circle"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('friends.friends') }}">
                        <i class="bi bi-people"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('friends.add_friend') }}">
                        <i class="bi bi-person-plus"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('account.configs') }}">
                        <i class="bi bi-gear"></i>
                    </a>
                </li>
            </ul>
    </menu>
    {% endblock %}
</body>
</html>

{% block script %}
<script src="{{ url_for('static', filename='scripts/dom.js') }}"></script>
{% endblock %}