{% extends "layout.html" %}

{% block head %} 
{{ super() }}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<title>Login</title> 
{% endblock %}

{% block menu %}{% endblock %}
{% block header %} {% endblock %}

{% block main %}

<div class="user_form_background">
    <div id="login" class="user_form">
        <form action="/login" method="post" autocomplete="off">
            <div>
                <input  required autocomplete="off" min="5" max="20" autofocus name="user" placeholder="Usuário" type="text">
            </div>
            <div>
                <input autocomplete="off" required min="10" max="20" autofocus name="password" placeholder="Senha" type="password">
            </div>
            <button type="submit">Logar</button>
        </form>
        <p>Não está registrado ainda? <a href="{{ url_for('account.register') }}">Registre-se</a></p>
    </div>
</div>
{% endblock %}

