{% extends "layout.html" %}
{% block header %} <title>Login</title> {% endblock %}
{% block nav %}{% endblock %}

{% block main %}

<form action="/login" method="post">
    <div>
        <input autocomplete="off" required autofocus name="user" placeholder="Usuário" type="text">
    </div>
    <div>
        <input autocomplete="off" required autofocus name="password" placeholder="Senha" type="password">
    </div>
    <button type="submit">Logar</button>
</form>

<p>Não está registrado ainda? <a href="{{ url_for('register') }}">Registre-se</a></p>

{% endblock %}

