{% extends "layout.html" %}

{% block head %}
{{ super() }}
 <title>Register</title> 
{% endblock %}

{% block header %}

{% endblock %}


{% block main %}
<div class="user_form_background">
    <div id="register" class="user_form">
        <form action="/register" method="post">
            <div>
                <input autocomplete="off" autofocus min="1" max="20" name="username" placeholder="Nome(opcional)" type="text"> 
            </div>
            <div>
                <input autocomplete="off" required min="5" max="20" name="user" placeholder="Usuário" type="text">
            </div>
            <div>
                <input autocomplete="off" required min="10" max="20" name="password" placeholder="senha" type="password">
            </div>
            <div>
                <input autocomplete="off" required name="confirm_password" placeholder="confirmar senha" type="password">
            </div>
            <button type="submit">Registrar</button>
        </form>
        <p>Já está registrado? <a href="{{ url_for('account.login') }}">Logar</a></p>
    </div>
</div>
{% endblock %}

{% block menu %}{% endblock %}