{% extends "layout.html" %}
{% block head %} 
{{ super() }}
    <title>Taferas de {{ friend_username }}</title>
{% endblock %}

{% block header %}
{{ super() }}
    <h1>Tarefas de {{ friend_username }}</h1>
{% endblock %}

{% block main %}
{{ super() }}
<div class="div_table">
    <table>
        <thead>
            <tr>
                <th>Prioridade</th>
                <th>Tarefa</th>
                <th>Descrição</th>
                <th>Tempo restante</th>
                <th>Começo</th>
                <th>Término</th>
            </tr>
        </thead>
        <tbody>
            {% for task in friend_tasks %}
                <tr class="table_task_tr">
                    <td class="td_priority">{{task['priority']}}</td>
                    <td>{{ task['task'] }}</td>
                    <td class="td_description">{{ task['description'] }}</td>
                    <td class="remaining_time_td">0</td>
                    <td class="table_datetime_start">{{ task['start'] }}</td>
                    <td class="table_datetime_ending">{{ task['ending'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
{{ super() }}

{% endblock %}